/* CSS Styling for Admin Dashboard for The Odin Project 
*/

*, *::before *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.img{
    margin: 0px;
    padding: 0px;
}
:root{
    --highlight-background-color: hsl(201, 79%, 46%);
    --highlight-foreground-color: hsl(0, 0%, 100%);
    --card-border-color: hsl(42, 87%, 55%);
    --neutral-background-color: hsl(214, 32%, 91%);
    --neutral-foreground-color:  hsl(0, 0%, 0%);
    --card-background-color:  hsl(0, 0%, 100%);
    --card-foreground-color: hsl(0, 0%, 0%);
    --font-family: "Roboto", sans-serif;
}

html{
    font-family: var(--font-family);
    background-color: var(--neutral-background-color);
    color: var(--neutral-foreground-color);
}

.wrapper{
    width: clamp(600px,90%,1800px);
    margin-inline: auto;
    margin-block-start: 5vh;
    background-color: hsl(214, 32%, 91%);
}

.page-container{
    display: grid;
    gap: 2em;
    grid-template-columns: 0.7fr repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
}



.sidebar{
    display: grid;
    background: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
    gap:2em;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/5;
}

.top-bar{
    grid-column: 2/span 4;
    grid-row: 1;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    background-color: white;
}

.search{
    display: flex;
    gap: 1em;
    font-size: 1.2rem;
    color: var(--neutral-foreground-color);
    margin-block-start: 0.5em;
    margin-inline-start: 2em;
    align-items: center;
    padding-block-start: 1em;
}

#search{
    background-color: var(--neutral-background-color);
    color:var(--neutral-foreground-color)
    border-radius: 10px;
    width: 90%;
    height: 1.5em;
}

.info{
    font-size: 1.2rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.user{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: end;
}
.avatar{
    height: 3rem;
    
}

.user-big{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-inline-start: 2em;
}

.user-big *{
    margin:0px;
    padding: 0px;
}


.avatar-big{
    height: 4rem;
    margin:0px;
    padding:0px;
}

.user-name-big{
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.buttons{
    display: flex;
    gap: 0.25em;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
.button{
    padding: 0.5em 0.5em;
    width: 8em;
    background-color: var(--highlight-background-color);
    color: var(--highlight-foreground-color);
    font-size: 1rem;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.button:hover{
    opacity: .75;
    color: red;
}
.nav-card{
    display: flex;
    align-items: center;
    justify-items: center ;
    gap: 0.5em;
}

.nav-card:hover{
    color: hsl(0, 100%, 50%);
    cursor: pointer;
}

.nav-card > p {
    display: inline;
}
.nav-icon-small{
    width: auto;
    height: 1.2em;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.nav-card-heading {
    padding-inline-start: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.main-content{
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    padding-block-end: 2em;
}
.main-content-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.content-card-holder{
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items:center;
    justify-content: center;
}

.content-card{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border-left: 4px var(--card-border-color) solid;
    margin-inline-start: 1em;
    background-color: #ffffff;
}

.content-heading, .content-text{
    padding-inline: 1rem;
}

.content-heading{
    line-height: 1.1em;
}

.content-text{
    line-height: 1.1em;
    padding-block-start: 0.25rem;
    padding-block-end: 1rem;
}


.announcement-card{
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-inline-start: 1em;
}

.announcement-card > h2{
    padding-block-start: 1rem;
}
